body {
  background-color: #77c5ab;
  margin: 0 auto;
  min-width: 100%;
  min-height: 100%;
  position: absolute;
}
.full-container {
  background-color: #77c5ab;
  border: solid black 1px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  position: absolute;
}
body .container div {
  border: solid black 1px;
}
.container {
  display: flex;
  flex: 1 1 100%;
  background-color: #77c5ab;
  border: solid black 1px;
}
.house-middle {
  flex: 1 1 100%;
  display: flex;
  background-color: #dadcd1;
  justify-content: space-between;
  border: solid black 1px;
}
.main-house {
  flex: 1 1 100%;
}
.window {
  flex: 1 1 100%;
  background-color: #6f6f6f;
}
